<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <h1>student_Table  </h1>
    
        
      <form action="/getInfo" method="post">
        <h1>Insert student name for complete</h1>
        <label for="name">Enter student name</label><br>
        <input type="text" id="name" name="name" ><br><br>
        <input type="submit" value="Submit">
      
        </form>
       

     
</body>
</html>